<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="images/medieval-M.png">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Malamatenia (Matenia) Vlachou Efstathiou
              </h1>

              <p><em>About my long and complicated name </em>: You can call me Maténia (pronounced like the Italian painter Mantegna — but without the first “n”). I secretly enjoy the occasional creative misspellings from the brave souls who won’t copy-paste.</p>
 
              <p>I’m a third-year PhD student in Digital Palaeography at <a href="https://www.irht.cnrs.fr/fr/recherche/les-themes-et-sections/paleographie-latine">IRHT-CNRS</a> and <a href="https://imagine-lab.enpc.fr/">IMAGINE</a> (<a href="https://ecoledesponts.fr/">ENPC</a>) labs. My research is focused on Medieval Latin Script Characterisation and Analysis (project <a href="https://oriflamms.hypotheses.org/1885">CrEMe</a>). I’m supervised by <a href="https://www.irht.cnrs.fr/fr/annuaire/stutzmann-dominique">Dominique Stutzmann</a> and <a href="https://imagine.enpc.fr/~aubrym/">Mathieu Aubry</a>. </p>
              <p>Before my PhD, I completed a <a href="https://www.chartes.psl.eu/formations/masters/master-humanites-numeriques">Digital Humanities Master's degree </a> at <a href="https://www.chartes.psl.eu/">École nationale des chartes-PSL</a> (2021-2023) and a Master's degree in <a href="https://formations-lettres.sorbonne-universite.fr/fr/index/master-XB/arts-lettres-langues-ALL/master-lettres-lettres-classiques-MLETT1L_601.html">Classics</a> from <a href="https://formations-lettres.sorbonne-universite.fr/fr/index.html">Sorbonne Université</a>(2020-2021) with a specialization in Late Antiquity Latin Grammarians. </p>
        
            <p></p>

              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/mVxkPtm2">Email</a> &nbsp;/&nbsp;
                <a href="pdfs/cv.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://github.com/malamatenia">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=yM-IzdIAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/malamatenia-vlachou-efstathiou/"> LinkedIn </a>
              </p>

            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%; border-radius:40%; overflow:hidden;" alt="profile photo" src="images/profile_picture.jpg">
            </td>
          </tr>
        </table>

                    <nav class="tocnav">
              <a href="#news">News</a>
              <a href="#research">Research</a>
              <a href="#activities">Academic Activities</a>
              <a href="phd-reflections.html">PhD Life</a>
            </nav>


              <table id="news" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
    <tr>
      <td style="padding:2.5%;width:100%;vertical-align:middle">
        <h2>News</h2>
        <p><strong>July 2025</strong>
        Co-organizing a <a href="https://dhtr25.anthologiagraeca.org/acknowledgements/" target="_blank"> workshop on transcription guidelines for HTR for Ancient Greek </a> at <a href="https://dh2025.adho.org/" target="_blank"> DH2025 </a>, Lisbon.</p>
        <p><strong>May, 2025</strong>
        Invited to give a workshop called "The Learnable Handwriter: An Interpretable Deep Learning Approach for Palaeographical Description and Analysis" at the Center of Digital Humanities of Antwerp University.</p>
        <p><strong>Feb, 2025</strong>
        Recipient of the Maison Française d'Oxford <a href="https://uk.ambafrance.org/Annonce-des-boursiers-du-mois-de-la-Maison-francaise-d-Oxford-en-2025/" target="_blank"> monthly scholarship for February 2025</a>.</p>
        <p><strong>Feb, 2024</strong>
        Accepted to present at CIPL 2025 in Vienna, with a presentation on <a href="https://cipl.hypotheses.org/vlachou-malamatenia-irht-cnrs/" target="_blank">"Rapprocher analyse paléographique et computationnelle pour la description de mains"</a>.</p>
        <p><strong>Jun, 2024</strong>
        Accepted to IWCP 2024 for our work An Interpretable Deep Learning Approach for Morphological Script Type Analysis.</p>
        <p><strong>Apr, 2024</strong>
        Accepted to ICDAR 2024 for our work CATMuS Medieval.</p>
        <p><strong>Mar, 2024</strong>
        Organized the second edition of the Biblissima+ Cluster 3 <a href="https://biblissim-ia-2024.sciencesconf.org/?lang=en" target="_blank">Biblissima+ Cluster 3 “Artificial Intelligence for pattern and handwriting recognition"</a> conference.</p>
        <p><strong>Jun, 2023</strong>
        Organized the <a href="https://x.com/cchartistes/status/1635999965800460293" target="_blank">Young Researcher Days</a> in memoriam Louis Holtz at the École nationale des chartes.</p>
      </td>
    </tr>
  </table>




        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="research">Research</h2>
              <p>
                I am interested in palaeographical description and analysis, particularly for Late Medieval script types and hands, as well as data production for HTR models and transcription norms.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3>{{post.title}}</h3>
                <br>
                             {{ post.authors }}
              <br>
              <em>{{ post.venue }}</em>
              <br>
              {{ post.date | date: "%m-%Y" }}
              <br>
                {% if post.arxiv %}
                <a href="{{post.arxiv}}">arxiv</a> |
                {% endif %}
                {% if post.paper %}
                <a href="{{post.paper}}">paper</a> |
                {% endif %}
                {% if post.video %}
                <a href="{{post.video}}">video</a> |
                {% endif %}
                {% if post.code %}
                <a href="{{post.code}}">code</a> |
                {% endif %}
                {% if post.poster %}
                <a href="{{post.poster}}">poster</a> |
                {% endif %}
                {% if post.slides %}
                <a href="{{post.slides}}">slides</a> |
                {% endif %}
                {% if post.website %}
                <a href="{{post.website}}">website</a> |
                {% endif %}
                {% if post.dataset %}
                <a href="{{post.dataset}}">dataset</a> |
                {% endif %}
                {% if post.youtube %}
                <a href="{{post.youtube}}">youtube</a> |
                {% endif %}
                <p></p>
                {{ post.excerpt }}
              </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Master Thesis Projects</h2>
              <p>Aside from my PhD project, glossed grammatical manuscripts as well as grammatical theory in Late Antiquity remain at the center of my academic interests.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Masters' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> |
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> |
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> |
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> |
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> |
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> |
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> |
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> |
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> |
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> |
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

    <table id="activities" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <h2>Academic Activities</h2>
      <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h3>Presentations</h3>
            <ul>
            <li>
              October 2024 – <em>Lecture distante de la fonction des annotations du de uerbo d’eutychès grammaticus : entre ’glose anarchique’ et commentaire continu.</em> Invitation and presentation at the conference <a href="https://paths.unamur.be/prame/colloque-2013-innover-pour-conserver-le-texte-entre-forme-canonique-et-fluidite-dans-la-tradition-manuscrite-medievale" target="_blank">"Innover pour conserver. Le texte entre forme canonique et fluidité dans la tradition manuscrite médiévale"</a>.
            </li>
            <li>
              May 2024 <em>The CATMuS Initiative: <a href="https://odhn.ens.psl.eu/en/events/catmus-initiative-building-large-and-diverse-corpora-handwritten-text-recognition" target="_blank">Building Large and Diverse Corpora for Handwritten Text Recognition. </a></em> Presentation at the DHAI seminar (with Thibault Clérice), Observatoire de Paris.
            </li>
            <li>
              May 2024 – <em>Rapprocher analyse paléographique et computationnelle pour l’analyse de l’écriture manuscrite.</em> Presentation at the <a href="https://iismm.hypotheses.org/101635" target="_blank">Ier Colloque doctoral d’histoire du livre et de codicologie arabe "Approches plurielles des manuscrits arabes"</a>.
            </li>
            <li>
              November 2023 – <em>Un pipeline pour éditer les manuscrits grammaticaux glosés: de l’acquisition à l’analyse.</em> Presentation at the seminar <a href="https://www.irht.cnrs.fr/fr/agenda/seminaire/les-ptits-dej-humanites-numeriques-de-lirht" target="_blank">Les p’tits déj’ «Humanités numériques» </a>, IRHT.
            </li>
          </ul>

          <h3>Workshops</h3>
          <ul>
            <li>
              May 2025 – Workshop <em>"The Learnable Handwriter</em>: An Interpretable Deep Learning Approach for Palaeographical Description and Analysis." Two-day workshop in Antwerp Digital Humanities Center (invit. Mike Kestemont), Belgium.
            </li>
            <li>
              October 2024 – <em>Reconnaissance automatique d’écriture (HTR) et intelligence artificielle pour lire les écritures latines.</em> IStage d'initiation au manuscrit médiéval, IRHT, Paris.
            </li>
            <li>
              September 2023 –  <em>HTR – Transcribing Archives and Manuscripts with eScriptorium.</em> Workshop at the BnF Datalab (with Thibault Clérice), Bnf, Paris.
            </li>
          </ul>

          <h3>Conference Organisation</h3>
          <ul>
            <li>
              July 2025 – <em>Transcription Guidelines for Greek HTR: Harmonizing Guidelines for Handwritten Text Recognition of Ancient Greek.</em> Organized with Mathilde Verstraete, Maxime Guénette, Marianne Reboul, Marcello Vitali-Rosati. DH2025 @Lisbon.
            </li>
            <li>
              March 2024 – <em>Biblissim-IA 2024: Intelligence artificielle et la reconnaissance de formes et d'écritures manuscrites.</em> Annual days of Cluster 3 of the EquipEx Biblissima+. Organized with Dominique Stutzmann, Daniel Stoekl, Peter Stokes. IRHT.
            </li>
            <li>
              June 2023 – <em>La grammatica et les différentes facettes de la transmission du savoir.</em> Journées d'étude de jeunes chercheurs Chroniques Chartistes in memoriam Louis Holtz (1929–2023). Proceedings to be published in the Studia Artistarum series. École nationale des chartes – PSL.
            </li>
          </ul>
        </td>
      </tr>
    </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Last updated: July 2025
              </p>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>  with tweaks from <a style="font-size:small;" href="https://mathieuaubry.github.io/">Mathieu Aubry</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

